<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sixthsenseapp">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sixthsenseicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".intervention.FineActivity"></activity>
        <activity android:name=".intervention.EmergencyActivity" />
        <activity android:name=".intervention.HighBloodSugar" />
        <activity android:name=".setup.SetupUserInfo4" />
        <activity android:name=".setup.SetupAddCaregiver" />
        <activity android:name=".setup.SetupAddCareGiverComplete" />
        <activity android:name=".setup.SetupVerification" />
        <activity android:name=".setup.SetupComplete" />
        <activity android:name=".setup.SetupHighBloodSugar" />
        <activity android:name=".setup.SetupWaitTimer" />
        <activity android:name=".setup.SetupUserInfo2" />
        <activity android:name=".dashboard.Dashboard" />
        <activity android:name=".setup.SetupUserInfo" />
        <activity android:name=".setup.SetupUserInfo3" />
        <activity android:name=".setup.SetupSecondaryTreatment" />
        <activity android:name=".setup.SetupPrimaryTreatment" />
        <activity android:name=".setup.SetupBloodSugar" />
        <activity android:name=".setup.SetupUserType" />
        <activity android:name=".settings.Tabs" />
        <activity android:name=".intervention.RetestBloodActivity" />
        <activity android:name=".intervention.InterventionActivity" />
        <activity android:name=".intervention.TimerActivity" />
        <activity android:name=".intervention.SecondaryTreatment" />
        <activity android:name=".intervention.PrimaryTreatment" />
        <activity android:name=".intervention.SnackReminderActivity" />
        <activity android:name=".mainMenu.LoginActivity" />
        <activity android:name=".mainMenu.MainActivity"> <!-- Keep .MainActivity on this line to load into the main screen on startup -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>