<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sixthsenseapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SetupVerification"></activity>
        <activity android:name=".SetupComplete" />
        <activity android:name=".SetupHighBloodSugar" />
        <activity android:name=".SetupWaitTimer" />
        <activity android:name=".SetupAddCaregiver" />
        <activity android:name=".SetupUserInfo2" />
        <activity android:name=".Dashboard" />
        <activity android:name=".SetupCaregiverInfo" />
        <activity android:name=".SetupUserInfo" />
        <activity android:name=".SetupSecondaryTreatment" />
        <activity android:name=".SetupPrimaryTreatment" />
        <activity android:name=".SetupBloodSugar" />
        <activity android:name=".SetupUserType" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>